body{
    margin: 0;
    padding: 0;
   background-color: bisque;
    
}
img{
    max-width: 320px;
    float: left;
    border: 5px solid greenyellow;
    margin-right: 80px;
}

    /*Navbar */
  .navbar{
       display: flex;
       justify-content: center;
      align-items: center;
      background-color: darkgray;
      position: sticky;
      top: 0;
    }
    nav ul{
       display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkgrey;
        position: sticky;
        top: 0;
        gap: 2rem;
        text-decoration: none;
      }
                   

    .navbar ul li{
         font-family: Arial, Helvetica, sans-serif
         font-size: 1.1rem;
         font-weight: bold;
    }
        
    .navbar ul li a{
         text-decoration: none;
         color: white;
         padding: 5px 30px;
         transition: all .5s ease;

     }
     .navbar ul li a:hover{
       background-color: white;
       color: #000;
       box-shadow: 0 0 10px white;
     }

     
     /* home section */

   .home{
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 840px;
        align-items: center;
        color: white;
     }

     #home::before{
        content:"" ;
        position: absolute;
        top: 0;
        right: 0;
        height: 90px;
        width: 100px;
     }

     .main{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        align-items: center;
        position: absolute;
        
     }
     .headings{
        font-family: century;
        font-size: 1.5rem;
        text-align: center;
        margin: 10px 0px;
     }
     .box{
       display: flex;
       flex-direction: column;
      width: 250px;
      height: 450px;
      margin: 10px;
      align-items: center;
      padding: 10px;
     background-size: 100% 200%;
     transition: all .8s;
     border: 2px solid;

     }
     .box :hover{
         background-position: left bottom;
         color: white;
         border: none;
         box-shadow: 0 0 20px rgb(255,45,45);
     }
      .box img{
          width: 80px;
          height: 80px;
          background-color: white;
          padding: 10px;
      }
    
    .Contact-section{
        background-color: rgb(216, 147, 147);
        color: aliceblue;
        height: 100vh;
    }
    
   
    *{
        font-family: 'poppins', sans-serif;
        margin: 0;padding: 0;
        box-sizing: border-box;
        outline: none; border: none;
        border: none;
        transition: 2s linear;
    }

    .container{
       background-color: linear-gradient(45deg,blueviolet,lightgreen);
       padding: 15px 9%;
       padding-bottom: 100px;
       gap: 20px;
       display: flex;
    }
    .container.headings{
      text-align: center;
      padding-bottom: 15px;
      color: white;
      text-shadow: 0 5px 10px rgba(0,0,0,.2);
      font-size: 50px;
      gap: 20px ;

    }
    .container .box-container{
        display: flex;
        grid-template-columns: repeat(autto-fit minmax(270px,1fr));
        gap: 15px;

    }
    .container.box{
      border: 2px solid;
    }
    #portfolio{
      margin: 2rem;
    }
    .header h3 p{
      text-align: center;
    }
   